DEVICE=bond0
TYPE=Bond
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ ansible_default_ipv4.address }}
NETMASK={{ ansible_default_ipv4.netmask }}
GATEWAY={{ ansible_default_ipv4.gateway }}
IPV6INIT=no
USERCTL=no

